@font-face {
    font-family: 'DM Serif Display';
    src: url('./dm-serif-display.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'DM Serif Display';
    margin: 0;
    padding: 0;
    background-color: rgb(147, 212, 212);
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 1fr 100%;
    grid-template-areas: "sidebar header"
                        "sidebar content"
}

.header{
    display: flex;
    font-style: italic;
    grid-area: header;
    height: 100px;
    justify-content: center;    
    align-items: center;
    background-color: rgb(127, 207, 207);
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, .25);
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: rgb(127, 207, 207);
}

.sidebar-sub-2 {
    display: grid;
    justify-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkmate {
    height: 50px;
    align-items: center;
}

.create-task-button,
.all-projects-button,
.project-button,
.create-project-button {
    font-family: 'DM Serif Display';
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(101, 178, 178);
    width: 80%;
}

button:hover {
        background-color:rgb(151, 225, 225);
        transition: 0.25s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create-project-button,
.create-task-button {
    margin-bottom: 25px;
}

.content {
    grid-area: content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.todo-div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 45% auto;
    border-style: none;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

.todo-div:nth-child(even) {
    background-color: rgb(127, 207, 207);
}

.todo-div:nth-child(odd) {
    background-color: rgb(168, 234, 234);
}
form > .form-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

#addTodoForm:modal,
#add-project-form:modal {
    width: 50%;
    height: 65%;
    background-color: rgb(206, 244, 244);
    border-style: none;
    padding:30px;
    border-radius: 10px;
}

#addTodoForm:modal > form,
#add-project-form:modal > form {
    display: grid;

}
#addTodoForm:modal > form > input,
#add-project-form:modal > form > input {
    border-style: none;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.modal-buttons {
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.project-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header-div > button {
    width: 50px;
    height: 25px;
}