@font-face {
    font-family: 'DM Serif Display';
    src: url('./dm-serif-display.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'DM Serif Display';
    margin: 0;
    padding: 0;
    background-color: rgb(147, 212, 212);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr .5fr 100%;
    grid-template-areas: "sidebar header"
                            "sidebar project-header"
                            "sidebar content"

}


.header {
    display: flex;
    font-style: italic;
    grid-area: header;
    height: 100px;
    justify-content: center;    
    align-items: center;
    background-color: rgb(127, 207, 207);
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, .25);
}

.project-header {
    display: flex;
    height: 50px;
    grid-area: project-header;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: rgb(127, 207, 207);
}

.sidebar-sub-2 {
    display: grid;
    justify-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkmate {
    height: 50px;
    align-items: center;
}

.create-task-button,
.all-projects-button,
.project-button,
.create-project-button {
    font-family: 'DM Serif Display';
    height: 50px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(101, 178, 178);
    width: 80%;
}

button:hover,
.todo-div-buttons > button:hover {
        background-color:rgb(151, 225, 225);
        transition: 0.25s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.create-project-button,
.create-task-button {
    margin-bottom: 25px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 450px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    gap: 15px;
}

.todo-div {
    border-style: none;
    align-items: start;
    margin-bottom: 35px;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    transition: box-shadow .15s;
}

.todo-div:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"]::before {
    content: "";
    transform: scale(1);
  }

input[type="checkbox"]:checked::before {
    width: 100%;
    height: 100%;
    content: '\✔️';
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: aliceblue;
}

.checkbox-container {
    
    margin: auto;
    content: '';
    width: 1em;
    height: 1em;
    border: 2px solid black;
    border-radius: 5px;
}

.checkbox-container:hover {
    background-color: rgb(101, 178, 178);

}

.todo-div-buttons > button,
.project-header > button {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(101, 178, 178);
    font-family: 'DM Serif Display';
}

.todo-div:nth-child(even) {
    background-color: rgb(127, 207, 207);
}

.todo-div:nth-child(odd) {
    background-color: rgb(168, 234, 234);
}
form > .form-buttons,
.todo-div-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}


#addTodoForm:modal,
#add-project-form:modal,
#edit-project-form:modal,
#edit-todo-form:modal {
    width: 50%;
    height: 65%;
    background-color: rgb(206, 244, 244);
    border-style: none;
    padding:30px;
    border-radius: 10px;
}

#addTodoForm:modal > form,
#add-project-form:modal > form,
#edit-project-form:modal > form,
#edit-todo-form:modal > form {
    display: grid;

}
#addTodoForm:modal > form > input,
#add-project-form:modal > form > input {
    border-style: none;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.modal-buttons {
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.project-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header-div > button {
    width: 50px;
    height: 25px;
}

h1 {
    display: block;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}